@model ProjektniCentar_Projekat.Models.Skola

@{
    ViewBag.Title = "Delete";
}

<h2>Obrisi Skolu</h2>

<h3>Da li ste sigurni da zelite ovo obrisati?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivSkole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivSkole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opstina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opstina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostanskiBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostanskiBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaticniBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaticniBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojRacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebStranica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebStranica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografija)
        </dt>

        <dd>
            @if (Model.Fotografija == null)
            {
                <img src="" alt="@Model.NazivSkole" class="img-responsive" style="width:30%; height:auto" />
            }
            else
            {
                <img src="@($"/Login/ReadImage/{Model.IDSkola}") " alt="@Model.NazivSkole" class="img-responsive" style="width:30%; height:auto" />

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beleske)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beleske)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger col-lg-1 col-lg-offset-1" />
        
        <button type="button" class="btn btn-warning col-lg-1" onclick="history.go(-1); return false;" href="#" style="background-color:mediumpurple">Idi Nazad</button>
    </div>
    }
</div>

