@model IEnumerable<ProjektniCentar_Projekat.Models.ListaKontakt>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadnoMesto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RadnoMesto)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditKontakt", new { id=item.IDKontakt }) |
            @Html.ActionLink("Details", "PrikaziTelefone", new { id=item.IDKontakt }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDKontakt })
        </td>
    </tr>
}

</table>
